@import url("https://fonts.googleapis.com/css2?family=Workbench&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Workbench&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// :root{
//     --OpenSans: "Open Sans", sans-serif;
//     --WorkBench: "Workbench", sans-serif;
// }
$WorkBench:"Workbench", sans-serif;
$OpenSans:"Open Sans", sans-serif;
body {
    font-family: $OpenSans;
    background: #060417;
    overflow-x: hidden;
}
.container{
  max-width: 1380px;
  margin: auto;
  color: white;
  margin-top: 10%;
}
.btn{
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: linear-gradient(90deg,#a993fe 0%,#7e61e7 100%);
  padding: 0.6rem 2rem;
  border: none;
  outline: 1.5px solid transparent;
  cursor: pointer;
  transition: all .3 ease;
}