@import "/src/mediaQuery.scss";
.contact-container {
    margin: 4rem 0;
    position: relative;
    h3 {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 3rem;
        padding: 5px;
    }
    .contact-content {
        display: flex;
        gap: 3rem;
        @include xl {
            flex-direction: column;
            padding: 1rem;
        }
        .content {
            flex: 1;
        }
        .content-wrap {
            flex: 1;
        }
    }
}

// CONTACTCARD

.contact-details-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #130f2a;
    border: 1.5 solid #6751b9;
    padding: 1.5rem;
    margin-bottom: 2rem;
    .icon {
        width: 4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
        background: #3d3072;
        margin-bottom: 0.8rem;
        img {
            width: 1.8rem;
            height: auto;
            object-fit: contain;
        }
    }
    p {
        font-weight: 500;
        font-size: 1.5rem;

        @include md {
            font-size: 15px;
        }
    }
}

// CONTACTFORM

.contact-form-content {
    width: 100%;

    form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        .name-container {
            display: flex;
            align-items: center;
            gap: 1.5rem;
        }
        button {
            font-size: 1rem;
            font-weight: 500;
            border: 1.5px solid #6751b9;
            color: #fff;
            border-radius: 0.6rem;
            transition: all 1s ease;
            cursor: pointer;
            background: linear-gradient(90deg, #a892fe 0%, #8064e8 100%);
            padding: 0.7rem 1rem;
            display: inline-block;
            &:hover {
                background: linear-gradient(90deg, #a892fe 0%, #5b45aa 100%);
            }
        }
        input,
        textarea {
            flex: 1;
            width: 100%;
            font-size: 1rem;
            color: #fff;
            background: #130f2a;
            border-radius: 0.6rem;
            border: 1.5px solid #6751b9;
            padding: 1rem;
            outline: none;
        }
        .email-container {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }
    }
}
